<h1><%= @play.title %></h1>

<table>
  <thead>
    <th></th>
    <th>Number of Lines</th>
    <th>Longest Speech (# Lines)</th>
    <th>Number of Scenes</th>
    <th>Percentage of Scenes</th>
  </thead>
  <tbody>
    <% @speakers.each do |speaker| %>
      <tr>
        <td><%= speaker.name %></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
